html {
    --backdrop: rgb(255, 255, 255);
    --background: rgb(255, 255, 255);
    --text-color-normal: #000000;
    background-color: var(--backdrop);
    color: var(--text-color-normal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

html[data-theme='dark'] {
    --backdrop: rgb(73, 73, 73);
    --background: #000000;
    --text-color-normal: #ffffff;
}
a{
  color: blue;
}
#main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}